/* ==========================================================================
   1. PERUSASETUKSET JA NORMALI SOVITUS
   ========================================================================== */

/* Sisällytetään reunat ja pehmusteet elementtien kokonaismittoihin */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Joustava tekstikoko ja pehmeä skrollaus */
html {
  font-size: 100%; /* Default 16px */
  scroll-behavior: smooth;
  background-color: black;
  
}
.body {
  background-color: black;
}

.col-xs-3 {
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: small;
    
    color:#C5A059;
    

}
.otsikon_rajaviiva {
  border: 2px solid #C5A059 ;
  padding-left: 2px;
  padding-right: 2px;
  width: fit-content;


}
.yhteys_div_container {
  display: flex;
  color: whitesmoke;
}

/* Pääsäiliö keskittää sisällön ja jättää reunoille turvavälin mobiilissa 
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}*/

main {
  flex: 1; /* Täyttää tyhjän tilan niin että footer pysyy alhaalla */
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.yhteys {
  display: flex;
  justify-content: center; /* Keskittää sisällön vaakasuunnassa */
  align-items: center;     /* Keskittää sisällön pystysuunnassa */
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}





/* ==========================================================================
   5. MEDIA QUERIES (Mukautus eri näytön kokoille)
   ========================================================================== */

/* Tabletteille ja sitä suuremmille näytöille (>= 768px) */
@media (min-width: 768px) {
  
  /* Navigaatio rinnakkain vaakatasossa */
 

  /* Suuremmat otsikot isoilla näytöillä */
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
}

/* Isommat työpöytänäytöt (>= 1024px) */
@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.kuva_teksti {
  white-space: nowrap;
  padding-left: 20px;
  color:#fad232;
  font-size:  50px;
  position: relative;
  bottom: 400px;
  right: -230px;

}
.kuvateksti_sisennetty {
   position: relative;
   margin-left: 200px;
}

.alaosan_teksti {
  color: whitesmoke;
}

.navbar-expand-lg bg-body-tertiary {
  background-color: black !important;
}